<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is the home page 1+2</h1>
    <h3> <%= "sai".toUpperCase() %></h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit iusto impedit dolores, corrupti nobis temporibus! Nisi ducimus et dolore, eius ea impedit sint! Facilis soluta facere necessitatibus quasi nostrum voluptates?</p>
    <button>Click me</button>
</body>
</html>