<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
</head>

<body>

<div>
    <form action="/" method="post">

    </form>
    
    <h1>Testing</h1>

    <p>
        Total Tasks:
        <span th:text="${tasks.size()}"></span>
    </p>

    <th:block th:each="task : ${tasks}">
        <p th:text="${task.title}"></p>
    </th:block>
</div>

</body>

</html>