*{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: #0866ff;
}
.userbtn{
    background-color: white;
}
button{
    background-color: wheat;
    color: black;
}
label{
    color: black;
    font-weight: 500;
}